<!DOCTYPE html>
<html>
<head>
  <title> RIPY, Retrieve Information with Python </title>
  <link rel="stylesheet" href="styles/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@1.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>

  <div id="app" >
    <v-app dark>

      <v-toolbar app light>
	<v-toolbar-title class="font-weight-black"> RIPY </v-toolbar-title>
        <v-spacer></v-spacer>
    	<v-toolbar-items>
	  <v-btn flat v-on:click="select_tab(1)" v-bind:class="{active: tab==1}">Recherche</v-btn>
	  <v-btn flat v-on:click="select_tab(2)" v-bind:class="{active: tab==2}">Model Booleen</v-btn>
	  <v-btn flat v-on:click="select_tab(3)" v-bind:class="{active: tab==3}">Model Vectoriel</v-btn>
	  <v-btn flat v-on:click="select_tab(4)" v-bind:class="{active: tab==4}">Evaluation</v-btn>
	</v-toolbar-items>
      </v-toolbar>

      <transition name="fade">
      <v-content v-if="tab == 1">
	<v-container >
	  <v-layout>
	    <v-flex md8 offset-md2>
	      <p> Quel mot vous êtes entrain de chercher ?</p>
	      <v-card class="pa-3">
		<v-text-field 
			v-model="token" 
			label="Mot recherché" 
			color="#FFEB3B"
			append-icon="close" 
			:append-icon-cb="clear_token">
		</v-text-field>
		<v-layout>
        	  <v-spacer></v-spacer>
	   	  <v-btn light @click="describe_token">Rechercher</v-btn>
	          <v-spacer></v-spacer>
		</v-layout>
	      </v-card>
	      <div class="mt-0" v-if="description.length != 0">
		<p class="mt-4"> Le mot "{{token}}" apparaît dans les documents suivants:</p>
	        <v-card class="pa-2 my-2 " v-for="d in description">
		  <v-layout align-center justify-space-around row fill-height/>
		    <div class="width75">{{d.document}}</div>
		    <div class=""> Fréquence: {{d.freq}} </div>
		    <div class=""> Poids: {{d.weight}} </div>
	          </v-layout>
	        </v-card>
	      </div>
	    </v-flex>
	  </v-card>
	</v-container>
      </v-content>
      </transition>

      <transition name="fade">
      <v-content v-if="tab == 2">
        <div>TAB 2</div>
      </v-content>
      </transition>

      <transition name="fade">
      <v-content v-if="tab == 3">
        <div>TAB 3</div>
      </v-content>
      </transition>

      <transition name="fade">
      <v-content v-if="tab == 4">
        <div>TAB 4</div>
      </v-content>
      </transition>


      <v-footer app light class="pa-4">
        <div class="item"> 
		USTHB M2 SII
	</div>
        <v-spacer></v-spacer>
        <div class="item"> 
		By devNir & LotfiBk
	</div>
        <v-spacer></v-spacer>
        <div class="item"> 
		{{ new Date().getFullYear() }} / 
	 	{{ new Date().getFullYear() + 1}}
	</div>
      </v-footer>

    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@1.x/dist/vuetify.js"></script>
  <script type="text/javascript" src="/eel.js"></script>
  <script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>

