
.active {
	color:red;
	//background:#F48FB1;
	background:#FFEB3B;
}

.width75 {
	text-align:right;
	width:75px;
}

.fixed-widgets-layout {
	position:relative;
	height:100%;
	padding-top:200px !important;
}

.fixed-widget {
	position:absolute;
	width:100%;
	top:0px;
}

.fade-enter-active, .fade-leave-active {
  transition: transform 2s ease;
}
.fade-enter, .fade-leave-to  {
  transform: translateY(-100vh);
}

